<div class="main tasks-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%= form_tag("/tasks/#{@task.id}/update") do %>
      <div class="form">
        <div class="form-body">
          <% @task.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>【依頼内容】</p>
          <textarea name="title"><%= @task.title %></textarea>
          <p>【報酬】</p>
          <textarea name="compensation"><%= @task.compensation %></textarea>
          <p>【受託受付終了日】</p>
          <textarea name="reception_deadline"><%= @task.reception_deadline %></textarea>
          <p>【頼みごとの詳細】</p>
          <textarea name="content"><%= @task.content %></textarea>
          <input type="submit" value="保存">
        </div>
      </div>
    <% end %>
  </div>
</div>
