<div class="main tasks-show">
  <div class="container">
    <div class="tasks-show-item">

      <div class="post-user-name">
        <!-- ユーザーの画像が表示されるように、以下のsrcの中を埋めてください -->
        <img src="<%= "/user_images/#{@user.image_name}" %>">

        <!-- link_toメソッドを用いて、ユーザー詳細ページへのリンクを作成してください -->
        <%= link_to(@user.email, "/users/#{@user.id}") %>
      </div>

      <p>  </p>
      <h5>◯依頼内容</h5>
      <h4>  <%= @task.title %>  </h4>
      <p>  </p>
      <h5>◯報酬</h5>
      <h4><%= @task.compensation %></h4>
      <p>  </p>
      <h5>◯受託受付終了日</h5>
      <h4><%= @task.reception_deadline %></h4>
      <p>  </p>
      <h5>◯頼みごとの詳細</h5>
      <h4><%= @task.content %></h4>
      <p>  </p>
      <p>  </p>
      <p>  </p>

      <div class="task-menus">
      <% if @assistant && @task.user_id != @current_user.id %>
        <%= link_to("/assistants/#{@task.id}/destroy", {method: "post"}) do %>
          <input type="submit" value="受託をキャンセルする">
        <% end %>
      <% elsif  @task.user_id != @current_user.id %>
        <%= link_to("/assistants/#{@task.id}/create", {method: "post"}) do %>
          <input type="submit" value="受託する">
        <% end %>
      <% else %>
      <div class="task-menus">
        <% if @task.user_id == @current_user.id  %>
          <%= link_to("/tasks/#{@task.id}/edit") do %>
            <input type="submit" value="編集">
          <% end %>
          <%= link_to("/tasks/#{@task.id}/destroy", {method: "post"}) do %>
            <input type="submit" value="削除">
          <% end %>
        <% end %>
        <% if @assistant && @task.user_id == @current_user.id%>
          <%= link_to("/users/#{@assistant.user_id}") do %>
            <input type="submit" value="<%= User.find_by(id: @assistant.user_id).name %>が受託しています">
          <% end %>
        <% end %>
      <% end %>
      </div>


    </div>
  </div>
</div>
